# SCC for Buildah pipeline: capabilities for overlay storage, image build
# Apply: oc apply -f pipelines/manifests/buildah-scc.yaml
# Grant: oc adm policy add-scc-to-user buildah-capabilities -z pipeline-runner-dspa -n <DS_PROJECT>
---
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: buildah-capabilities
allowPrivilegedContainer: false
allowHostDirVolumePlugin: false
allowHostNetwork: false
allowHostPorts: false
allowHostPID: false
allowHostIPC: false
allowPrivilegeEscalation: true
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: MustRunAs
supplementalGroups:
  type: RunAsAny
volumes:
  - configMap
  - downwardAPI
  - emptyDir
  - persistentVolumeClaim
  - projected
  - secret
allowedCapabilities:
  - CHOWN
  - DAC_OVERRIDE
  - FOWNER
  - SETFCAP
  - SETGID
  - SETUID
defaultAddCapabilities: null
requiredDropCapabilities: null
users: []
